In [1]:
import pandas as pd
import sys
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import numpy as np
import importlib
import matplotlib.dates as mdates

In [2]:
file_path = r'C:\Users\leopo\OneDrive\Documents\coding\projects\tfrrs_scraper\data\2015_to_2024'


data = pd.read_feather(file_path)

In [3]:
pd.set_option('display.max_columns', None)
data.head(3)

,athlete_name,last_name,first_name,athlete_id,year_when_scraped,school,school_scraped_url,division,region,main_conference,other_conferences_found,gender,transfers,has_transferred,meet_name,meet_date,events_competed_in_meet,event,n_event_of_meet,performance,place,event_stage,wind,meet_type,scraped_for_school,athlete_url,year_scraped_roster,year_scraped_season,year_scraped_year,school_roster_size,parsed_date,converted_performance,granular_performance,school_state
0,ALEXANDRIA DONAHUE,Donahue,Alexandria,81_S'YRAM-.TS-TNUOM_EUHANODAIRDNAXELA,SR-4,MOUNT ST. MARY'S,https://tf.tfrrs.org/teams/tf/MD_college_f_Mou...,DI,Mid-Atlantic Region,Metro Atlantic,[IC4A/ECAC],F,None,0,Northeast Conference Championship,"May 2- 3, 2015",3,SP,1,11.74m,9th,F,(+0.0),tf,MOUNT ST. MARY'S,https://www.tfrrs.org/athletes/3723706/Mount_S...,2015,outdoor,2015,27,2015-05-02,0 days 00:00:11.740000,11.74,MD
1,ALEXANDRIA DONAHUE,Donahue,Alexandria,81_S'YRAM-.TS-TNUOM_EUHANODAIRDNAXELA,SR-4,MOUNT ST. MARY'S,https://tf.tfrrs.org/teams/tf/MD_college_f_Mou...,DI,Mid-Atlantic Region,Metro Atlantic,[IC4A/ECAC],F,None,0,Northeast Conference Championship,"May 2- 3, 2015",3,DT,2,34.52m,16th,F,(+0.0),tf,MOUNT ST. MARY'S,https://www.tfrrs.org/athletes/3723706/Mount_S...,2015,outdoor,2015,27,2015-05-02,0 days 00:00:34.520000,34.52,MD
2,ALEXANDRIA DONAHUE,Donahue,Alexandria,81_S'YRAM-.TS-TNUOM_EUHANODAIRDNAXELA,SR-4,MOUNT ST. MARY'S,https://tf.tfrrs.org/teams/tf/MD_college_f_Mou...,DI,Mid-Atlantic Region,Metro Atlantic,[IC4A/ECAC],F,None,0,Northeast Conference Championship,"May 2- 3, 2015",3,HT,3,49.65m,5th,F,(+0.0),tf,MOUNT ST. MARY'S,https://www.tfrrs.org/athletes/3723706/Mount_S...,2015,outdoor,2015,27,2015-05-02,0 days 00:00:49.650000,49.65,MD

In [ ]:

# just quickly checking how many women we have available

data[(data['meet_type']=='tf')& (data['gender']=='F')]['athlete_id'].nunique()

131157

In [37]:
# get unique 5k runners


kkkkk_athlete_ids = data[(data['meet_type'] == 'tf') & (data['event'] == '5000')]['athlete_id'].unique()

print(f'number of unique 5k runners: {len(kkkkk_athlete_ids)}')

number of unique 5k runners: 57363

In [ ]:
# filter to only the relevant runners

relevant_runners = data[data['athlete_id'].isin(kkkkk_athlete_ids)]

relevant_runners.head(3)

,athlete_name,last_name,first_name,athlete_id,year_when_scraped,school,school_scraped_url,division,region,main_conference,other_conferences_found,gender,transfers,has_transferred,meet_name,meet_date,events_competed_in_meet,event,n_event_of_meet,performance,place,event_stage,wind,meet_type,scraped_for_school,athlete_url,year_scraped_roster,year_scraped_season,year_scraped_year,school_roster_size,parsed_date,converted_performance,granular_performance,school_state
111,MCKENZIE DOYLE,Doyle,McKenzie,41_S'YRAM-.TS-TNUOM_ELYODEIZNEKCM,SR-4,MOUNT ST. MARY'S,https://tf.tfrrs.org/teams/tf/MD_college_f_Mou...,DI,Mid-Atlantic Region,Metro Atlantic,[IC4A/ECAC],F,None,0,Northeast Conference Championship,"May 2- 3, 2015",2,5000,1,19:10.93,18th,F,,tf,MOUNT ST. MARY'S,https://www.tfrrs.org/athletes/3723707/Mount_S...,2015,outdoor,2015,27,2015-05-02,0 days 00:19:10.930000,1150.93,MD
112,MCKENZIE DOYLE,Doyle,McKenzie,41_S'YRAM-.TS-TNUOM_ELYODEIZNEKCM,SR-4,MOUNT ST. MARY'S,https://tf.tfrrs.org/teams/tf/MD_college_f_Mou...,DI,Mid-Atlantic Region,Metro Atlantic,[IC4A/ECAC],F,None,0,Northeast Conference Championship,"May 2- 3, 2015",2,"10,000",2,40:28.01,14th,F,,tf,MOUNT ST. MARY'S,https://www.tfrrs.org/athletes/3723707/Mount_S...,2015,outdoor,2015,27,2015-05-02,0 days 00:40:28.010000,2428.01,MD
113,MCKENZIE DOYLE,Doyle,McKenzie,41_S'YRAM-.TS-TNUOM_ELYODEIZNEKCM,SR-4,MOUNT ST. MARY'S,https://tf.tfrrs.org/teams/tf/MD_college_f_Mou...,DI,Mid-Atlantic Region,Metro Atlantic,[IC4A/ECAC],F,None,0,Mason Spring Invitational,"Apr 11, 2015",1,5000,1,18:28.82,18th,F,,tf,MOUNT ST. MARY'S,https://www.tfrrs.org/athletes/3723707/Mount_S...,2015,outdoor,2015,27,2015-04-11,0 days 00:18:28.820000,1108.82,MD

In [60]:
# Step 1: Filter the data for event == 5000 and meet_type == 'tf'
only_5000 = relevant_runners[(relevant_runners['event'] == '5000') & (relevant_runners['meet_type'] == 'tf')]

# Step 2: Remove athletes whose only 5000-meter entry has NaN in granular_performance
athlete_counts = only_5000.groupby('athlete_id').size()
athletes_to_drop = athlete_counts[athlete_counts == 1].index

# Filter out those athletes whose performance is NaN
only_5000_cleaned = only_5000[~((only_5000['athlete_id'].isin(athletes_to_drop)) & (only_5000['granular_performance'].isna()))]

# Step 3: Sort by athlete_id and granular_performance (ascending for fastest), disregarding NaN values
sorted_for_athletes = only_5000_cleaned.sort_values(by=['athlete_id', 'granular_performance'], na_position='last')

# Step 4: Get the fastest performance for each athlete
sample = sorted_for_athletes.groupby('athlete_id').head(1)[['athlete_id', 'granular_performance', 'parsed_date']]

# Reset index if needed
sample.reset_index(drop=True, inplace=True)

In [61]:
sample.head(10)

                      athlete_id  granular_performance parsed_date
0    01_).AG(-LEUNAMME_THGIRWCAZ               1021.72  2022-04-16
1      01_).ALF(-IMAIM_HCOKAILUJ               1164.62  2014-03-21
2  01_).AP(-AINROFILAC_AZZEPKCIN                952.57  2012-02-18
3  01_).AP(-AINROFILAC_EBOJNOSAM                957.98  2021-04-03
4  01_).AP(-AINROFILAC_ECNAVARAS               1163.20  2019-03-30
5  01_).AP(-AINROFILAC_GNUOYTTAM               1002.68  2019-04-06
6  01_).AP(-AINROFILAC_ONAILUEOJ                938.78  2019-04-13
7  01_).AP(-AINROFILAC_TNEKYBLOK                967.74  2024-03-29
8     01_).AP(-ANAIDNI_ADOHNORAA                999.56  2018-04-21
9     01_).AP(-ANAIDNI_ALLESTTAM               1012.82  2017-12-01